body{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(88, 88, 88);
    
}

.header{
    text-align: center;
}

.select-button{
    margin-bottom: 25px;
    width: 100px;
    height: 50px;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.select-button-highlight{
    margin-bottom: 25px;
    width: 100px;
    height: 50px;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgb(88, 88, 88);
    box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
}

.main{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width: 601px;   /*increased the width by 1px to deal with wrapping issues*/
    height: 600px;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: rgb(206, 203, 203);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.row-container:after{
    content: "";
    clear:both;
    display:table;
}

.square{
    box-sizing:border-box;
    float: left;
    margin-left:auto;
    margin-right:auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: rgb(117, 117, 117);
}
